/* 1. Thin (100) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

/* 2. ExtraLight (200) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

/* 3. Light (300) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

/* 4. Regular (400 - 标准常规体) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

/* 5. Medium (500) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

/* 6. SemiBold (600) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

/* 7. Bold (700 - 标准粗体) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/* 8. ExtraBold (800) */
@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

html,
body,
*{
	font-family: 'JetBrains Mono' !important;
}
